header {
  display: grid;
  grid-template-columns: auto 1fr 12fr 1fr auto;
  align-items: center;
  padding: 1rem 10%;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  background: #142850cc;

  position: sticky;
  top: 0px;
  z-index: 3;
}

header > a > img {
  width: 5rem;
  height: 5rem;
}

header > nav {
  grid-column: 3/4;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
}
header > nav > button {
  background-color: transparent;
  border: none;
}

header > .basvur {
  background-color: #142850;
  padding: 0.625rem 3.125rem;
  font-size: 1.25rem;

  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #0c7b93;

  transition: all 0.3s ease-in-out;
  grid-column: 5/6;
}

header > .basvur:hover {
  box-shadow: 0px 0px 20px #0c7b93;
}
header > .basvur:active {
  transform: scale(95%);
}

header > h1 {
  display: none;
}

@media only screen and (max-width: 750px) {
  header > nav {
    display: none;
  }
  header > h1 {
    display: block;
    font-family: Syne;
    text-shadow: 0px 0px 16px #00a8cc;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    grid-column: 3/4;
  }
  header > .basvur {
    padding: 0.625rem 1rem;
  }
}
@media only screen and (max-width: 400px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}
