.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 3rem;
  scroll-margin-top: 9.375rem;
}
.speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

figure.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
figure.speaker > img {
  height: 15rem;
  background-color: #142850;
  border-radius: 25px;
  transition: box-shadow 0.3s ease-in;
}
figure.speaker > img:hover {
  box-shadow: 0px 0px 25px #0c7b93;
}

figure.speaker > figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
}
figure.speaker > figcaption > h3 {
  font-size: 2rem;
  font-weight: 500;
}
figure.speaker > figcaption > p {
  color: #00a8cc;
  font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
  .speakers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 400px) {
  .speakers-container {
    justify-content: center;
  }
}
